/* CSS declarations go here */
body {
  color: #404040;
  font-family: sans-serif;
  background-color: #e8e8e81;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.pad {
  padding: 10px;
}

section {
  width: 100%;
}

aside {
  min-width: 220px;
  background-color: #5b5b5b;
}

aside a {
  color: #404040;
  padding: 10px;
  border-bottom: 1px solid #b8b8b8;
  background-color: #e9e9e9;
  display: block;
  text-decoration: none;
}

aside a.logo {
    text-align: center;
    line-height: 140px;
    height: 140px;
    font-size: 26px;
}

aside a:first-child {
  padding-top: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid;
}

.search-bar input {
  height: 50px;
  flex: 1;
  outline: none;
  border: none;
  padding: 0px 10px;
  font-size: 16px;
  background-color: #fff;
}

.search-bar .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
}
