main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

/* texts */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #b9b9b9;
}

/* margins and paddings */

.pad {
  padding: 10px;
}

.pad-lg {
  padding: 15px;
}

.pad-top {
  padding-top: 10px;
}

.pad-top-sm {
  padding-top: 5px;
}

.pad-top-lg {
  padding-top: 15px;
}

.pad-right-lg {
  padding-right: 15px;
}

.pad-right-sm {
  padding-right: 5px;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}

.mar-left-sm {
  margin-left: 5px;
}

.mar-right-sm {
  margin-right: 5px;
}

.mar-bottom {
  margin-bottom: 10px;
}

.mar-bottom-sm {
  margin-bottom: 5px;
}

/* stuff */

section {
  width: 100%;
  overflow-y: auto;
}

aside {
  min-width: 200px;
  background-color: #fff;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

aside .link {
  color: #404040;
  padding: 10px 10px 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

aside .link:hover,
aside .link:focus,
aside .link:active {
  text-decoration: none;
  color: #c75353;
}

aside .link.active {
  color: #ff6868;
}

aside a.head {
  text-decoration: none;
  font-size: 20px;
  display: block;
  height: 50px;
  margin-bottom: 10px;
  line-height: 50px;
  background-color: #c75353;
  color: #fff;
  padding-left: 20px;
}

aside .divider {
  height: 25px;
}

@media (max-width: 600px) {
  aside {
    display: none;
  }

  aside.open {
    display: block !important;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }

  aside .mobile-focus-shade {
    display: block;
    position: fixed;
    left: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

/* stuff */

.text-icon {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

.text-primary {
  color: #ff6868;
}

.text-primary-hover:hover {
  color: #c75353 !important;
}

.whitespace {
  height: 32px;
}

/* fab */

.fab-btn {
  font-size: 65px;
  height: 65px;
  line-height: 65px;
  width: 65px;

  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* header */

header {
  height: 50px;
  background-color: #ff6868;
  color: #fff;
  box-sizing: content-box;
}

header .title {
  display: block;
  font-size: 16px;
  line-height: 50px;
}

header form {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: #fff;
  margin: 6px;
  height: 38px;
  line-height: 38px;
}

header input {
  background-color: transparent;
  padding: 0px 10px;
  outline: none;
  border: none;
}

header a,
header a:hover,
header a:active,
header a:focus {
  text-decoration: none;
  color: #fff;
}

header input::-webkit-input-placeholder {
    color: #fff;
}
header input:-moz-placeholder {
   color: #fff;
   opacity: 1;
}
header input::-moz-placeholder {
   color: #fff;
   opacity: 1;
}
header input:-ms-input-placeholder {
   color: #fff;
}

header .glyphicon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  padding: 0;
  color: #fff;
  outline: 0;
  border: 0;
  background-color: transparent;
}

/* large screen adjustments */

@media (min-width: 600px) {
  .lg-screen-hide {
    display: none;
  }
}

@media (max-width: 600px) {
  .sm-screen-hide {
    display: none;
  }
}

/* tags */

.chip {
  height: 30px;
  display: inline-flex;
  line-height: 30px;
  background-color: #e3e3e3;
  padding: 0px 4px 0px 10px;
  border-radius: 15px;
  margin: 0px 5px 5px 0px;
}

.chip .chip-label {
  font-size: 14px;
}

.chip .chip-btn {
  width: 24px;
  line-height: 23px;
  text-align: center;
  height: 24px;
  background-color: #b8b8b8;
  border-radius: 12px;
  color: #fafafa;
  margin-top: 3px;
  margin-left: 5px;
}

.chip.active .chip-btn {
    background-color: #ff6868;
}

.chip .chip-btn:hover {
  background-color: #c75353;
}

.chip-btn .glyphicon {
  top: 2px;
  font-size: 12px;
}

/* rating */

.rating .glyphicon {
  font-size: 29px;
  cursor: pointer;
}

.glyphicon.active {
  color: #ff6868;
}

.glyphicon.active:hover {
  color: #c75353;
}

.glyphicon.inactive {
  color: #b8b8b8;
}

.glyphicon.inactive:hover {
  color: #828282;
}

/* flex */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flex-max {
  flex: 1;
}

.flex-self-stretch {
  align-self: stretch;
}

.flex-center {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* bullet */

.bullet {
  display: inline-block;
  background-color: #ff6868;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  height: 26px;
  min-width: 26px;
  text-align: center;
  border-radius: 13px;
}

/* card */

.card {
  border-radius: 3px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  margin-bottom: 10px;
  background-color: #fff;
}

.card-left-top {
  font-size: 18px;
  line-height: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
}

.card-left-top small {
  font-size: 14px;
  color: #717171;
}

.card-left-bottom {
  font-size: 12px;
}

.card-right-top {
  text-align: right;
  font-size: 16px;
}

.card-right-bottom {
  text-align: right;
  font-size: 12px;
}

/* spinner */

.spinner {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ff6868;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinFrames 1.1s infinite linear;
  animation: spinFrames 1.1s infinite linear;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes spinFrames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinFrames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* quote */
.quote-wrapper {
  padding: 100px 60px;
}

.quote-wrapper .author {
  color: #777;
  font-size: 14px;
  padding-left: 10px;
  white-space: nowrap; /* no line breaks */
}

.quote-wrapper .quote {
  color: #ff6868;
  font-size: 22px;
  font-weight: 200;
  line-height: 35px;
}

.quote-wrapper .quote:after,
.quote-wrapper .quote:before {
  font-size: 35px;
  vertical-align: middle;
}

.quote-wrapper .quote:before {
  content: '“';
  padding-right: 2px;
}

.quote-wrapper .quote:after {
  content: '”';
  padding-left: 2px;
}

/* pills */

.pills {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pill {
  box-sizing: border-box;
  padding: 0px 12px;
  line-height: 26px;
  margin: 0px;
  border-right: 1px solid #ff6868;
  border-bottom: 1px solid #ff6868;
  border-top: 1px solid #ff6868;
  cursor: pointer;
  color: #ff6868;
  background-color: #fff;
}

.pill:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 1px solid #ff6868;
}

.pill:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pill.selected {
  background-color: #ff6868;
  color: #fff;
}
