main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

/* texts */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #b9b9b9;
}

/* margins and paddings */

.pad {
  padding: 10px;
}

.pad-lg {
  padding: 15px;
}

.pad-top {
  padding-top: 10px;
}

.pad-top-sm {
  padding-top: 5px;
}

.pad-top-lg {
  padding-top: 15px;
}

.pad-right-lg {
  padding-right: 15px;
}

.pad-right-sm {
  padding-right: 5px;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}

.mar-right-sm {
  margin-right: 5px;
}

.mar-bottom {
  margin-bottom: 10px;
}

.mar-bottom-sm {
  margin-bottom: 5px;
}

/* stuff */

section {
  width: 100%;
  overflow-y: auto;
}

aside {
  min-width: 200px;
  background-color: #ddd;
}

aside .link {
  color: #404040;
  padding: 10px 10px 10px 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

aside .link:hover,
aside .link:focus,
aside .link:active {
  text-decoration: none;
  color: #c75353;
}

aside .link.active {
  color: #ff6868;
  background-color: #fff;
}

aside a.logo {
  display: block;
  width: 200px;
  height: 200px;
}

aside a.logo img {
  width: 200px;
  height: 200px;
    min-width: 200px;
    min-height: 200px;
}

aside .divider {
  height: 25px;
}

.text-icon {
  font-size: 14px;
}

.plus-btn {
  font-size: 32px;
  margin-top: 18px;
}

.pointer {
  cursor: pointer;
}

.text-primary {
  color: #ff6868;
}

.text-primary-hover:hover {
  color: #c75353 !important;
}

.whitespace {
  height: 32px;
}

.search-bar {
  border-bottom: 1px solid #e9e9e9;
}

.search-bar input {
  height: 50px;
  outline: none;
  border: none;
  padding: 0px 10px;
  font-size: 16px;
  background-color: #fff;
}

.search-bar .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
}

/* tags */

.chip {
  height: 30px;
  display: inline-flex;
  line-height: 30px;
  background-color: #e3e3e3;
  padding: 0px 4px 0px 10px;
  border-radius: 15px;
  margin: 0px 5px 5px 0px;
}

.chip .chip-label {
  font-size: 14px;
}

.chip .chip-btn {
  width: 24px;
  line-height: 23px;
  text-align: center;
  height: 24px;
  background-color: #b8b8b8;
  border-radius: 12px;
  color: #fafafa;
  margin-top: 3px;
  margin-left: 5px;
}

.chip.active .chip-btn {
    background-color: #ff6868;
}

.chip .chip-btn:hover {
  background-color: #c75353;
}

.chip-btn .glyphicon {
  top: 2px;
  font-size: 12px;
}

/* rating */

.rating .glyphicon {
  font-size: 29px;
  cursor: pointer;
}

.glyphicon.active {
  color: #ff6868;
}

.glyphicon.active:hover {
  color: #c75353;
}

.glyphicon.inactive {
  color: #b8b8b8;
}

.glyphicon.inactive:hover {
  color: #828282;
}

/* flex */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flex-max {
  flex: 1;
}

.flex-self-stretch {
  align-self: stretch;
}

.flex-center {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* bullet */

.bullet {
  display: inline-block;
  background-color: #ff6868;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  height: 26px;
  min-width: 26px;
  text-align: center;
  border-radius: 13px;
}

/* card */

.card {
  border-radius: 3px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  margin-bottom: 14px;
  background-color: #fff;
}

.card-left-top {
  font-size: 18px;
  line-height: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
}

.card-left-top small {
  font-size: 14px;
  color: #717171;
}

.card-left-bottom {
  font-size: 12px;
}

.card-right-top {
  text-align: right;
  font-size: 16px;
}

.card-right-bottom {
  text-align: right;
  font-size: 12px;
}

/* spinner */

.spinner {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ff6868;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinFrames 1.1s infinite linear;
  animation: spinFrames 1.1s infinite linear;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes spinFrames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinFrames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* quote */
.quote-wrapper {
  padding: 100px 60px;
}

.quote-wrapper .author {
  color: #777;
  font-size: 14px;
  padding-left: 10px;
}

.quote-wrapper .quote {
  color: #ff6868;
  font-size: 22px;
  font-weight: 200;
  line-height: 35px;
}

.quote-wrapper .quote:after,
.quote-wrapper .quote:before {
  font-size: 35px;
  vertical-align: middle;
}

.quote-wrapper .quote:before {
  content: '“';
  padding-right: 2px;
}

.quote-wrapper .quote:after {
  content: '”';
  padding-left: 2px;
}
