@import 'variables.less';

.rating {
  .glyphicon {
    font-size: 29px;
    cursor: pointer;

    &.active {
      color: @highlight;
      &:hover {
        color: @lowlight;
      }
    }

    &.inactive {
      color: @brightGrey;
      &:hover {
        color: @lightGrey;
      }
    }
  }
}
